<div class="row py-4">
  <div class="col-md-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <div class="list-group w-50">
      <a class="list-group-item list-group-item-action d-flex justify-content-between"
         *ngFor="let ingredientItem of ingredients; let i = index" (click)="onEditItem(i)">
        {{ingredientItem.name}}
        <span class="badge badge-primary badge-pill">{{ingredientItem.amount}}</span>
      </a>
    </div>
  </div>
</div>
