<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand text-white" routerLink="/">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="isAuthenticated()" class="dropdown-item" (click)="onSaveRecipes()">Save data</a>
            <a class="dropdown-item" (click)="onFetchRecipes()">Fetch data</a>
          </div>
        </li>
        <ng-template [ngIf]="!isAuthenticated()">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/signin">Sign In</a>
          </li>
        </ng-template>
        <li class="nav-item" routerLinkActive="active">
          <a *ngIf="isAuthenticated()" (click)="onLogout()" class="nav-link" style="cursor: pointer">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
